@model ContactFormViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-5">Contact Form</h2>
                <form  method="post">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="name">Name</label>
                            <input type="text"  asp-for="Name" class="form-control ">
                            <span asp-validation-for="Name" style="color:red"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="phone">Phone</label>
                            <input type="text"  asp-for="Phone" class="form-control ">
                            <span asp-validation-for="Phone" style="color:red"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="email">Email</label>
                            <input type="email"  asp-for="Mail" class="form-control ">
                            <span asp-validation-for="Mail" style="color:red"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="message">Write Message</label>
                            <textarea name="message" asp-for="Message" class="form-control " cols="30" rows="8"></textarea>
                            <span asp-validation-for="Message" style="color:red"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <button class="btn btn-primary">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

