@model List<Blog>
<section class="site-section bg-light">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12 heading-wrap text-center">
                <h4 class="sub-heading">Our Blog</h4>
                <h2 class="heading">Our Recent Blog</h2>
            </div>
        </div>
        <div class="row ">
            @foreach(var item in Model)
            {
                <div class="col-md-4">
                    <div class="post-entry">
                        <img src="~/images/blog_images/@item.BlogImage" alt="Image placeholder" class="img-fluid">
                        <div class="body-text">
                            <div class="category">@item.BlogCategory</div>
                            <h3 class="mb-3"><a href="#">@item.BlogTitle</a></h3>
                            <p class="mb-4">@item.BlogDescription.Substring(0,50)...</p>
                            <p><a href="/BlogPage/ReadMore/@item.BlogId" class="btn btn-primary btn-outline-primary btn-sm">Read More</a></p>
                        </div>
                    </div>
                </div>
            }      
        </div>
    </div>
</section>
