
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Admin/HomePage/Index/">Admin Panel</a>
                <a class="navbar-brand" href="/Admin/RoomPage/Index/">Rooms</a>
                <a class="navbar-brand" href="/Admin/StaffPage/Index/">Staffs</a>
                <a class="navbar-brand" href="/Admin/BlogPage/Index/">Blogs</a>
                <a class="navbar-brand" href="/Admin/ReservationPage/Index/">Reservations</a>
                <a class="navbar-brand" href="/Admin/UserPage/Index/">User</a>
                <a class="navbar-brand" href="/Admin/RolePage/Index/">Roles</a>
                <a class="navbar-brand" href="/Admin/AboutPage/Index/">About</a>
            </div>
        </div>
    </nav>
</body>
</html>
@RenderBody()