@model List<Room>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<section class="site-section">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="media d-block room mb-0">
                        <figure>
                            <img src="~/images/room_images/@item.RoomImage" alt="Generic placeholder image" class="img-fluid">
                            <div class="overlap-text">
                                <span>
                                    Featured Room
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </span>
                            </div>
                        </figure>
                        <div class="media-body">
                            <h3 class="mt-0"><a href="#">@item.RoomType</a></h3>
                            <ul class="room-specs">
                                <li><span class="ion-ios-people-outline"></span> @item.RoomCount Room</li>
                                <li><span class="ion-ios-crop"></span> @item.RoomArea ft <sup>2</sup></li>
                            </ul>
                            <p>@item.RoomAbout.Substring(0,item.RoomAbout.Substring(0,100).LastIndexOf(" "))... </p>
                            <p><a href="#" class="btn btn-primary btn-sm">Book Now From $@item.RoomPrice</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

