<section class="section-cover" data-stellar-background-ratio="0.5" style="background-image: url(luxury-hotel-master/images/img_5.jpg);">
    <div class="container">
        <div class="row justify-content-center align-items-center intro">
            <div class="col-md-9 text-center element-animate">
                <h2>Relax and Enjoy your Holiday</h2>
                <p class="lead mb-5">Experience sheer opulence at this deluxe hotel, where sophistication meets supreme comfort.</p>
                <div class="btn-play-wrap"><a href="https://vimeo.com/channels/staffpicks/93951774" class="btn-play popup-vimeo "><span class="ion-ios-play"></span></a></div>
            </div>
        </div>
    </div>
</section>
<!-- END section -->

<footer class="site-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                <h3>Phone Support</h3>
                <p>24/7 Call us now.</p>
                <p class="lead"><a href="tel://">+ 1 332 3093 323</a></p>
            </div>
            <div class="col-md-4">
                <h3>Connect With Us</h3>
                <p>We are socialized. Follow us</p>
                <p>
                    <a href="#" class="pl-0 p-3"><span class="fa fa-facebook"></span></a>
                    <a href="#" class="p-3"><span class="fa fa-twitter"></span></a>
                    <a href="#" class="p-3"><span class="fa fa-instagram"></span></a>
                    <a href="#" class="p-3"><span class="fa fa-vimeo"></span></a>
                    <a href="#" class="p-3"><span class="fa fa-youtube-play"></span></a>
                </p>
            </div>
           
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                &copy;
                Copyright @DateTime.Now.Year All rights reserved
            </div>
        </div>
    </div>
</footer>