<section class="site-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="heading-wrap  element-animate">
                    <h4 class="sub-heading">Stay with our luxury rooms</h4>
                    <h2 class="heading">Our Story</h2>
                    <p class="">Discover an exquisite escape at Hotel Luxury, where sophistication meets unparalleled comfort. From lavishly appointed rooms to exquisite dining experiences and top-tier services, our hotel is a sanctuary for those seeking opulence and modern convenience. </p>

                    <p>With sophisticated event spaces, leisure facilities, and personalized concierge service, we redefine hospitality, ensuring a stay that exceeds expectations and creates enduring memories.At Hotel Luxury, indulge in a culinary journey through our exquisite restaurants and lounges, where expert chefs craft a symphony of flavors using the finest ingredients.</p>

                    <p>Whether you're relaxing by the poolside, rejuvenating at our spa, or engaging in our well-equipped fitness center, we offer a balance between relaxation and recreation.</p>

                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <img src="~/luxury-hotel-master/images/f_img_1.png" alt="Image placeholder" class="img-md-fluid">
            </div>
        </div>
    </div>
</section>